@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body{
    background-color: #FAFAFA;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

main{
    margin-top: 20px;
    width: 900px;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.instagram-phone{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 16px;
    min-height: 90vh;
}

.instagram-phone img{
    width: 70%;
}

.instagram-continue{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 16px;
    min-height: 90vh;
}

.group{
    border: 1px solid lightgray;
    background-color: #FFFFFF;
    width: 80%;
}

.group:nth-child(1){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 30px;
    min-height: 25rem;
}

.group:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    min-height: 5rem;
}

.group:nth-child(3){
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 15px;
    min-height: 5rem;
}


.blue-link{
    color: #1095F6;
    font-weight: bold;
}

.instagram-logo{
    width: 50%;
}

.instagram-logo img{
    width: 100%;
}

.instagram-profile{
    width: 100px;
}

.instagram-profile img{
    width: 100%;
    border-radius: 50%;
}

.buttom{
    background-color: #1095F6;
    padding: 8px;
    color: #FFFFFF;
    display: block;
    border-radius: 5px;
    font-weight: bold;
}

.app{
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;

}

.app-img{
    width: 40%;
}

.app-img img{
    width: 100%;
}

/* Media Queries*/

@media(max-width: 950px ){
    main{
        width: 100%;
    }

    .instagram-phone{
        display: none;
    }

    .instagram-continue{
        align-items: center;
        width: 450px;
    }
}

@media(max-width: 500px ){

    body{
        background-color: #FFFFFF;
    }

    main{
        width: 100%;
    }

    .instagram-phone{
        display: none;
    }

    .instagram-continue{
        align-items: center;
        width: 100%;
    }

    .group{
        border: none;
    }

    .buttom{
        font-size: 12px;
    }
}